<div class="comment">
  <span class="commenter"> <%= comment.user.username %> says:</span>
  <p> <%= sanitize_wysiwyg comment.body %> </p>
  <% if owner?(comment.user) %>
    <p>
      <%= link_to 'Delete comment', [comment.post, comment],
                  :confirm => 'Are you sure?',
                  :method => :delete %>

    </p>
  <% end %>
</div>
<br />