<div class="comment">
  <span class="commenter"> <%= comment.commenter %> says:</span>
  <p> <%= sanitize_wysiwyg comment.body %> </p>
  <p>
    <%= link_to 'Destroy Comment', [comment.post, comment],
                :confirm => 'Are you sure?',
                :method => :delete %>
  </p>
</div>
<br />